@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Barlow Condensed';
  src: url('../assets/fonts/Barlow_Condensed/BarlowCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow Condensed', sans-serif;
}

p, a, button {
  font-family: 'Roboto', sans-serif;
}